$grid-breakpoint-xs: 0;
$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;
$grid-breakpoint-xxl: 1400px;

@font-face {
    font-family: 'matterhorn';
    src: url('matterhorn_rus_by_me.woff2') format('woff2'),
        url('matterhorn_rus_by_me.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.santaForm {
    width: 50em;
    margin: 10px auto;
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-style: italic;
    background-color: rgb(186, 210, 191);

    @media screen and (max-width: $grid-breakpoint-md) {
        width: 80%;
        border-radius: 10px;

    }
}

.formInput {
    margin: 5px;
    width: 80%;
}

.field {
    width: 100%;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $grid-breakpoint-md) {
        display: block;
        padding: 3px;
        width: 75%;
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px auto;

    }
}

.deleteButton {
    color: rgb(206, 36, 36);
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    margin-top: 25px;
    height: 30px;
    border-radius: 10px;
}

.addButton {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    color: white;
    background-color: rgb(23, 85, 64);
}

.goButton {
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: rgba(180, 14, 14, 0.8);
    font-weight: 600;
    font-style: italic;
}

.header__container {
    max-width: 1296px;
    max-height: 140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    position: relative;
}

.header__container_logo {
    padding: 1rem;
    grid-column: 1;
    grid-row: 1/3;
    z-index: 1;
}

.logoimg {
    max-width: 200px;
    max-height: 120px;

    @media screen and (max-width: $grid-breakpoint-md) {
        max-width: 120px;
        max-height: 70px;
    }



}

.header__container_menu {
    grid-column: 2;
    grid-row: 1;
    padding-top: 2rem;

    @media screen and (max-width: $grid-breakpoint-md) {
        grid-column: 1/4;
        padding: 0;

    }
}


.hamnav {
    width: 100%;
    position: sticky;
    top: 0;


}

.hamitems {
    display: flex;


    @media screen and (max-width: $grid-breakpoint-md) {
        display: none;
    }
}

.hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: center;
    border: 2px dashed transparent;


    @media screen and (max-width: $grid-breakpoint-md) {
        box-sizing: border-box;
        display: block;
        height: 5em;
        font-weight: 600;
        width: 100%;
    }

    @media screen and (max-width: $grid-breakpoint-lg) {
        padding: 5px;

    }
}

.hamitems a:hover {
    border: 2px dashed red;
}


.hamnav label,
#hamburger {
    display: none;
}

.hamnav label {
    @media screen and (max-width: $grid-breakpoint-md) {
        display: inline-block;
        color: red;
        font-style: normal;
        font-size: 3em;
        padding: 10px;
        position: absolute;
        right: 10px;
        top: -115px;
    }

    @media screen and (min-width:768px) {
        top: -40px;
    }


}

.hamnav input:checked~.hamitems {
    @media screen and (max-width: $grid-breakpoint-md) {
        display: block;
        background: linear-gradient(white, red);
        padding-top: 10em;
        border-radius: 20px;
    }

}

.heading {
    text-align: center;
    font-family: 'matterhorn';
    font-size: 3em;
    color: rgba(180, 14, 14, 0.8);

    @media screen and (max-width: $grid-breakpoint-sm) {
        margin-top: 1.6em;


    }

}

.tree-container {
    margin: 20px;
    justify-self: center;
}

.header-tree {
    width: 100px;
    grid-row: 1/3;
    grid-column: 3;

    @media screen and (max-width: $grid-breakpoint-md) {
        display: none;
    }
}

.messageDiv {
    text-align: center;
}

.text {
    text-align: center;
    font-size: 2em;
}

.timer {
    text-align: center;
    height: 130px;
    width: 100%;
    margin: 0 auto;
    background: rgba(180, 14, 14, 0.8);
    cursor: default;


}

/*       текст под цифрами       */
.days,
.hours,
.minutes,
.seconds {
    font-size: 3em;
    font-family: 'DS-Digital';
    font-weight: 600;
    margin: 0 auto;
}

/*         цифры таймера         */
.uncorrectDays,
.uncorrectHours,
.uncorrectMinutes,
.uncorrectSeconds {
    font-size: 1em;

}

/*      блоки хранящие цифры      */
.days-block,
.hours-block,
.minutes-block,
.seconds-block {
    background: white;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;

    @media screen and (max-width: $grid-breakpoint-sm) {
        font-size: 10px;
        font-weight: 300;

    }
}

.timer-section {
    display: inline-block;


}

.timer-text {
    display: block;
    font-size: 12px;
}

.infoDiv {
    max-width: 70em;
    justify-self: center;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

.footer-container {
    background-color: rgba(180, 14, 14, 0.8);
    border: 1px solid black;
    text-align: center;

}

.trees {
    width: 8em;
}

.card-img {
    width: 7em
}

.cards {
    display: flex;

    @media screen and (max-width: $grid-breakpoint-md) {
        display: block;
    }

}

.info-card {
    border: 1px dashed red;
    margin: 2em;
    padding: 1em;
    border-radius: 10px;
    width: 20em;

    @media screen and (max-width: $grid-breakpoint-md) {
        width: 80%;
        margin: 10px auto;

    }
}

//scratching cat!//
@keyframes scratching {

    0% {
        opacity: 5;
    }

    11.11% {
        opacity: 1;
    }

    33.33% {
        opacity: 1;
    }

    44.44% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    from {
        left: 40%;
        width: 24%;
    }

    to {
        left: 34%;
        width: 10%;
    }

}

@keyframes slidein1 {
    from {
        left: 40%;
        width: 14%;
    }

    to {
        left: 1%;
        width: 21%;
    }

}

.cat-container {
    display: flex;
    flex-direction: column;
    width: 30em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;

    @media screen and (max-width: $grid-breakpoint-md) {

        width: 100%;

    }
}




#scratchbtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 7px;
    align-self: center;
    background-color: antiquewhite;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    justify-items: center;
}

.cat {
    position: related;


}

.hand,
.hand1 {
    position: absolute;
    width: 10em;
    margin-left: 19em;
    display: none;

}

@media screen and (max-width: 700px) {

    .hand,
    .hand1 {
        position: absolute;
        width: 5em;
        margin-left: 11em;
    }
}

.animated1 {
    animation-name: slidein;
    animation-duration: 2s;
    display: block;

}

@media screen and (max-width: 700px) {
    .animated1 {
        animation-name: slidein1;
    }
}

.animated2 {
    animation-name: scratching;
    animation-duration: 16ms;
    animation-iteration-count: 200;
    display: block;
}

.hand {
    display: block;

}



.hand1 {
    animation-delay: 5ms;
}

#thanksdiv {
    position: absolute;
    margin-top: 135px;
    align-self: center;
    font-size: 3em;
    color: red;
    font-weight: 600;

    @media screen and (max-width: 700px) {
        font-size: 1em;
    }


}

//scratching cat end//

//gifts page//
.decorations {
    padding: 5%;
}

.decoration_image1 {
    float: right;
    width: 20%;
    border-radius: 15px;
}

.decoration_image2 {
    float: right;
    /* Обтекание картинки по левому краю */
    //padding-left: 10px; /* Отступ слева */
    //padding-bottom: 10px; 
    border-radius: 15px;
    width: 20%;
}

.decoration_image3 {
    float: left;
    padding-right: 4%;
    border-radius: 15px;
    width: 20%;
}

.decoration_image4 {
    width: 50%;

    @media screen and (max-width: $grid-breakpoint-md) {
        width: 100%;
    }
}

hr {
    color: greenyellow;
}

.decorations_body {
    background-color: rgba(0, 58, 209, 0.2);
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0 0 1em 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

.b-page_newyear {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 103px;

}

.b-page__content {
    min-height: 200px
}

.b-head-decor {
    display: none
}

.b-page_newyear .b-head-decor {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 115px;
    width: 100%;
    overflow: hidden;
    background: url(../images/b-head-decor_newyear.png) repeat-x 0 0
}

.b-page_newyear .b-head-decor__inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 115px;
    display: block;
    width: 373px
}

.b-page_newyear .b-head-decor::before {
    content: '';
    display: block;
    position: absolute;
    top: -115px;
    left: 0;
    z-index: 3;
    height: 115px;
    display: block;
    width: 100%;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.75)
}

.b-page_newyear .b-head-decor__inner_n2 {
    left: 373px
}

.b-page_newyear .b-head-decor__inner_n3 {
    left: 746px
}

.b-page_newyear .b-head-decor__inner_n4 {
    left: 1119px
}

.b-page_newyear .b-head-decor__inner_n5 {
    left: 1492px
}

.b-page_newyear .b-head-decor__inner_n6 {
    left: 1865px
}

.b-page_newyear .b-head-decor__inner_n7 {
    left: 2238px
}

.b-ball {
    position: absolute
}

.b-ball_n1 {
    top: 0;
    left: 3px;
    width: 59px;
    height: 83px
}

.b-ball_n2 {
    top: -19px;
    left: 51px;
    width: 55px;
    height: 70px
}

.b-ball_n3 {
    top: 9px;
    left: 88px;
    width: 49px;
    height: 67px
}

.b-ball_n4 {
    top: 0;
    left: 133px;
    width: 57px;
    height: 102px
}

.b-ball_n5 {
    top: 0;
    left: 166px;
    width: 49px;
    height: 57px
}

.b-ball_n6 {
    top: 6px;
    left: 200px;
    width: 54px;
    height: 70px
}

.b-ball_n7 {
    top: 0;
    left: 240px;
    width: 56px;
    height: 67px
}

.b-ball_n8 {
    top: 0;
    left: 283px;
    width: 54px;
    height: 53px
}

.b-ball_n9 {
    top: 10px;
    left: 321px;
    width: 49px;
    height: 66px
}

.b-ball_n1 .b-ball__i {
    background: url(../images/b-ball_n1.png) no-repeat
}

.b-ball_n2 .b-ball__i {
    background: url(../images/b-ball_n2.png) no-repeat
}

.b-ball_n3 .b-ball__i {
    background: url(../images/b-ball_n3.png) no-repeat
}

.b-ball_n4 .b-ball__i {
    background: url(../images/b-ball_n4.png) no-repeat
}

.b-ball_n5 .b-ball__i {
    background: url(../images/b-ball_n5.png) no-repeat
}

.b-ball_n6 .b-ball__i {
    background: url(../images/b-ball_n6.png) no-repeat
}

.b-ball_n7 .b-ball__i {
    background: url(../images/b-ball_n7.png) no-repeat
}

.b-ball_n8 .b-ball__i {
    background: url(../images/b-ball_n8.png) no-repeat
}

.b-ball_n9 .b-ball__i {
    background: url(../images/b-ball_n9.png) no-repeat
}

.b-ball_i1 .b-ball__i {
    background: url(../images/b-ball_i1.png) no-repeat
}

.b-ball_i2 .b-ball__i {
    background: url(../images/b-ball_i2.png) no-repeat
}

.b-ball_i3 .b-ball__i {
    background: url(../images/b-ball_i3.png) no-repeat
}

.b-ball_i4 .b-ball__i {
    background: url(../images/b-ball_i4.png) no-repeat
}

.b-ball_i5 .b-ball__i {
    background: url(../images/b-ball_i5.png) no-repeat
}

.b-ball_i6 .b-ball__i {
    background: url(../images/b-ball_i6.png) no-repeat
}

.b-ball_i1 {
    top: 0;
    left: 0;
    width: 25px;
    height: 71px
}

.b-ball_i2 {
    top: 0;
    left: 25px;
    width: 61px;
    height: 27px
}

.b-ball_i3 {
    top: 0;
    left: 176px;
    width: 29px;
    height: 31px
}

.b-ball_i4 {
    top: 0;
    left: 205px;
    width: 50px;
    height: 51px
}

.b-ball_i5 {
    top: 0;
    left: 289px;
    width: 78px;
    height: 28px
}

.b-ball_i6 {
    top: 0;
    left: 367px;
    width: 6px;
    height: 69px
}

.b-ball__i {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    pointer-events: none
}

.b-ball_bounce .b-ball__right {
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
    z-index: 9
}

.b-ball_bounce:hover .b-ball__right {
    display: none
}

.b-ball_bounce .b-ball__right:hover {
    left: 0;
    display: block !important
}

.b-ball_bounce.bounce>.b-ball__i {
    -webkit-transform: rotate(-9deg);
    -moz-transform: rotate(-9deg);
    -o-transform: rotate(-9deg);
    transform: rotate(-9deg)
}

.b-ball_bounce .b-ball__right.bounce+.b-ball__i {
    -webkit-transform: rotate(9deg);
    -moz-transform: rotate(9deg);
    -o-transform: rotate(9deg);
    transform: rotate(9deg)
}

.b-ball_bounce.bounce1>.b-ball__i {
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    transform: rotate(6deg)
}

.b-ball_bounce .b-ball__right.bounce1+.b-ball__i {
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    transform: rotate(-6deg)
}

.b-ball_bounce.bounce2>.b-ball__i {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg)
}

.b-ball_bounce .b-ball__right.bounce2+.b-ball__i {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg)
}

.b-ball_bounce.bounce3>.b-ball__i {
    -webkit-transform: rotate(1.5deg);
    -moz-transform: rotate(1.5deg);
    -o-transform: rotate(1.5deg);
    transform: rotate(1.5deg)
}

.b-ball_bounce .b-ball__right.bounce3+.b-ball__i {
    -webkit-transform: rotate(-1.5deg);
    -moz-transform: rotate(-1.5deg);
    -o-transform: rotate(-1.5deg);
    transform: rotate(-1.5deg)
}

//gifts page end//

// rules page styles

.pngwing {
    margin-top: -1000px;
}

.rules {
    margin-top: 100px;
}