$grid-breakpoint-xs: 0;
$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;
$grid-breakpoint-xxl: 1400px;

@font-face {
    font-family: 'matterhorn';
    src: url('matterhorn_rus_by_me.woff2') format('woff2'),
        url('matterhorn_rus_by_me.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'snowcapcyr';
    src: url('snowcapcyr.woff2') format('woff2'),
        url('snowcapcyr.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'penguin';
    src: url('penguinattackcyrillic.woff2') format('woff2'),
        url('penguinattackcyrillic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.santaForm {
    width: 50em;
    margin: 10px auto;
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-style: italic;
    background-color: rgb(186, 210, 191);

    @media screen and (max-width: $grid-breakpoint-md) {
        width: 80%;
        border-radius: 10px;

    }
}

input {
    margin: 5px;
    width: 80%;
}

.field {
    width: 100%;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $grid-breakpoint-md) {
        display: block;
        padding: 3px;
        width: 75%;
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px auto;

    }
}

.deleteButton {
    color: rgb(206, 36, 36);
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    margin-top: 25px;
    height: 30px;
    border-radius: 10px;
}

.addButton {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    color: white;
    background-color: rgb(23, 85, 64);
}

.goButton {
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: rgba(180, 14, 14, 0.8);
    font-weight: 600;
    font-style: italic;
}

.header__container {
    font-family: 'penguin';
    max-width: 1296px;
    max-height: 140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    position: relative;
}

.header__container_logo {
    padding: 1rem;
    grid-column: 1;
    grid-row: 1/3;
    z-index: 1;
}

.logoimg {
    max-width: 200px;
    max-height: 120px;

    @media screen and (max-width: $grid-breakpoint-md) {
        max-width: 120px;
        max-height: 70px;
    }



}

.header__container_menu {
    grid-column: 2;
    grid-row: 1;
    padding-top: 2rem;

    @media screen and (max-width: $grid-breakpoint-md) {
        grid-column: 1/4;
        padding: 0;

    }
}


.hamnav {
    width: 100%;
    position: sticky;
    top: 0;


}

.hamitems {
    display: flex;


    @media screen and (max-width: $grid-breakpoint-md) {
        display: none;
    }
}

.hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: center;
    border: 2px dashed transparent;


    @media screen and (max-width: $grid-breakpoint-md) {
        box-sizing: border-box;
        display: block;
        height: 5em;
        font-weight: 600;
        width: 100%;
    }

    @media screen and (max-width: $grid-breakpoint-lg) {
        padding: 5px;

    }
}

.hamitems a:hover {
    border: 2px dashed red;
}


.hamnav label,
#hamburger {
    display: none;
}

.hamnav label {
    @media screen and (max-width: $grid-breakpoint-md) {
        display: inline-block;
        color: red;
        font-style: normal;
        font-size: 3em;
        padding: 10px;
        position: absolute;
        right: 10px;
        top: -115px;
    }

    @media screen and (min-width:768px) {
        top: -40px;
    }


}

.hamnav input:checked~.hamitems {
    @media screen and (max-width: $grid-breakpoint-md) {
        display: block;
        background: linear-gradient(white, red);
        padding-top: 10em;
        border-radius: 20px;
    }

}

.heading {
    text-align: center;
    font-family: 'matterhorn';
    font-size: 3em;
    color: rgba(180, 14, 14, 0.8);

    @media screen and (max-width: $grid-breakpoint-sm) {
        margin-top: 1.6em;


    }

}

.messageDiv {
    text-align: center;
}

.text {
    font-family: 'penguin';
    text-align: center;
    font-size: 2em;
}

.timer {
    text-align: center;
    height: 130px;
    width: 100%;
    margin: 0 auto;
    background: rgba(180, 14, 14, 0.8);
    cursor: default;


}

/*       текст под цифрами       */
.days,
.hours,
.minutes,
.seconds {
    font-size: 3em;
    font-family: 'DS-Digital';
    font-weight: 600;
    margin: 0 auto;
}

/*         цифры таймера         */
.uncorrectDays,
.uncorrectHours,
.uncorrectMinutes,
.uncorrectSeconds {
    font-size: 1em;
    font-family: 'penguin';
}

/*      блоки хранящие цифры      */
.days-block,
.hours-block,
.minutes-block,
.seconds-block {
    background: white;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;

    @media screen and (max-width: $grid-breakpoint-sm) {
        font-size: 10px;
        font-weight: 300;

    }
}

.timer-section {
    display: inline-block;


}

.timer-text {
    display: block;
    font-size: 12px;
}

.infoDiv {
    max-width: 70em;
    justify-self: center;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

.footer-container {
    background-color: rgba(180, 14, 14, 0.8);
    border: 1px solid black;
    text-align: center;

}

.trees {
    width: 8em;
}

.card-img {
    width: 7em
}

.cards {
    display: flex;

    @media screen and (max-width: $grid-breakpoint-md) {
        display: block;
    }

}

.info-card {
    border: 1px dashed red;
    margin: 2em;
    padding: 1em;
    border-radius: 10px;
    width: 20em;

    @media screen and (max-width: $grid-breakpoint-md) {
        width: 80%;
        margin: 10px auto;

    }
}