@charset "UTF-8";
@font-face {
  font-family: "matterhorn";
  src: url("matterhorn_rus_by_me.woff2") format("woff2"), url("matterhorn_rus_by_me.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "snowcapcyr";
  src: url("snowcapcyr.woff2") format("woff2"), url("snowcapcyr.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "penguin";
  src: url("penguinattackcyrillic.woff2") format("woff2"), url("penguinattackcyrillic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}

.santaForm {
  width: 50em;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  font-style: italic;
  background-color: rgb(33, 172, 126);
}
@media screen and (max-width: 768px) {
  .santaForm {
    width: 100%;
  }
}

input {
  margin: 5px;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .field {
    display: block;
    padding: 3px;
    width: 75%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto;
  }
}

.deleteButton {
  color: rgb(206, 36, 36);
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  margin-top: 25px;
  height: 30px;
}

.addButton {
  text-decoration: none;
  border: 1px solid black;
  margin: 10px auto;
  padding: 10px;
  color: white;
  background-color: rgb(23, 85, 64);
}

.goButton {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  color: white;
  background-color: red;
  font-weight: 600;
  font-style: italic;
}

.header__container {
  font-family: "penguin";
  max-width: 1296px;
  max-height: 140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  position: relative;
}

.header__container_logo {
  padding: 1rem;
  grid-column: 1;
  grid-row: 1/3;
  z-index: 1;
}

.logoimg {
  max-width: 200px;
  max-height: 120px;
}
@media screen and (max-width: 768px) {
  .logoimg {
    max-width: 120px;
    max-height: 70px;
  }
}

.header__container_menu {
  grid-column: 2;
  grid-row: 1;
  padding-top: 2rem;
}
@media screen and (max-width: 768px) {
  .header__container_menu {
    grid-column: 1/4;
    padding: 0;
  }
}

.hamnav {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.hamitems {
  display: flex;
}
@media screen and (max-width: 768px) {
  .hamitems {
    display: none;
  }
}

.hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: black;
  text-decoration: none;
  text-align: center;
  border: 2px dashed transparent;
}
@media screen and (max-width: 768px) {
  .hamitems a {
    box-sizing: border-box;
    display: block;
    height: 5em;
    font-weight: 600;
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .hamitems a {
    padding: 5px;
  }
}

.hamitems a:hover {
  border: 2px dashed red;
}

.hamnav label,
#hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .hamnav label {
    display: inline-block;
    color: red;
    font-style: normal;
    font-size: 3em;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: -115px;
  }
}
@media screen and (min-width: 768px) {
  .hamnav label {
    top: -40px;
  }
}

@media screen and (max-width: 768px) {
  .hamnav input:checked ~ .hamitems {
    display: block;
    background: linear-gradient(white, red);
    padding-top: 10em;
    border-radius: 20px;
  }
}

.heading {
  text-align: center;
  font-family: "matterhorn";
  font-size: 3em;
  color: rgba(180, 14, 14, 0.8);
}
@media screen and (max-width: 576px) {
  .heading {
    margin-top: 1.6em;
  }
}

.messageDiv {
  text-align: center;
}

.text {
  font-family: "penguin";
  text-align: center;
  font-size: 2em;
}

.timer {
  text-align: center;
  height: 130px;
  width: 100%;
  margin: 0 auto;
  background: rgba(180, 14, 14, 0.8);
  cursor: default;
}

/*       текст под цифрами       */
.days,
.hours,
.minutes,
.seconds {
  font-size: 3em;
  font-family: "DS-Digital";
  font-weight: 600;
  margin: 0 auto;
}

/*         цифры таймера         */
.uncorrectDays,
.uncorrectHours,
.uncorrectMinutes,
.uncorrectSeconds {
  font-size: 1em;
  font-family: "penguin";
}

/*      блоки хранящие цифры      */
.days-block,
.hours-block,
.minutes-block,
.seconds-block {
  background: white;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .days-block,
.hours-block,
.minutes-block,
.seconds-block {
    font-size: 10px;
    font-weight: 300;
  }
}

.timer-section {
  display: inline-block;
}

.timer-text {
  display: block;
  font-size: 12px;
}

.infoDiv {
  justify-self: center;
  text-align: center;
}/*# sourceMappingURL=index.css.map */